/* {
    box-sizing: border-box;
}*/

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0%;
    background-image: radial-gradient( rgb(43, 41, 41) 10%, black);
    color: white;
    height: auto;
    width: 100%;
    margin-top: 0;
}

header h1 {
    display: inline;
    text-shadow: 2px 2px 2px lightgray;
    text-align: left;
    font-weight: bolder;
    font-size: 5vw;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding: .5em;
    font-size: 2vw;
    margin: 2%;
    text-decoration: none;
    color: white;
    transition: transform 1s;
}

nav a:hover {
    transform: rotate(360deg);
}

main {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gird-gap: 1%;
}

main img {
    width: 100%;
    margin: .2%;
    border: white .3vw solid;
    height: 100%;
    margin: .5%;
}

.img {
    width: 100%;
    height: 100%;
    grid-row: 3/5;
}

.img2 {
    width: 100%;
    height: 100%;
    grid-column: 2/5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.img3 {
    width: 100%;
    height: 100%;
    grid-column: 4/4;
    grid-row: 2/4;
}

footer {
    background-image: linear-gradient(45deg, black, rgb(43, 42, 42));
    color: white;
    height: auto;
    width: 100%;
}